.entry {
  display: block;
  margin-right: 24px;
}

.number {
  font-size: 72px;
  margin-right: 4px;
  color: #1166b1e8;
}

.text {
  font-size: 36px;
  color: #1167b1;
}

.container {
  text-align: left;
  max-width: 1440px;
  margin: 32px auto;
  padding: 24px 56px;
}

@media(min-width: 768px) {
  .entry {
    display: inline-block;
  }

  .container {
    text-align: center;
  }
}
