.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/sunflower-bg.jpg');
    opacity: 0.5;
}

.container.food {
    text-align: center;
    padding: 8px;

    .title strong {
        display: inline-block;
        min-width: 140px;
    }
    .timeline-item {
        display: block;
        top: unset;
        margin-bottom: 8px;
    }
    .details {
        position: relative;
        top: 64px;

        .content {
            z-index: 0;
            padding: 8px;
            background: radial-gradient(circle at 100%, rgba(255, 255, 255, 0.3) 0%, rgba(200, 200, 200, 0.1) 100%)
        }
    }

    .menuu {
        padding: 8px 16px;
    }
}